page-home {
    
}

// elimina o padding de todo o card e lista da pagina home.
.no-padding {
    padding: 0px !important;
}

.imgicon{
    width: 40%;
    margin: auto;
    max-width: 300px;
}

#principaltextocard1{
    color: #4e84dc;
    text-align: center;
    font-weight: bold;
    font-size: 130%;
    padding: 2%;
}


.card{
    width:100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.textocard{
    font-size: 11px;
    color: #8b8b8b;
    text-align: center;
    margin: auto;
}

.botaohome{
    color: red;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: auto;
}

ion-icon {
    display: inline-block;
    font-size: 2.3em;
}

.toolbar-background {
    background-color: #05c0b7;
}
.toolbar-title{
    color: #ffffff;
}
.toolbar-button-inner{
    color: #ffffff;
}
.lista{
    padding-top: 30px;
}